<div class="banner";>
  <div class="container">
    <h1>The world biggest Games's Library</h1>
    <p>Rent, play and share your favorite games on Games Lock</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @games.each do |game| %>
    <div class="col-lg-4 col-md-6 mb-5">
      <div class="games-card">
        <h2 class="games-title">
          <%= link_to game.name, game_path(game) %>
        </h2>
        <h3>
          <%= link_to game_path(game) do %>
        </h3>
          <div>
            <%= cl_image_tag game.photo.key, height: 200, width: 200, crop: :fill %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
