<div class="container">
  <div class="row text-content-justify">
    <div class="col-8">
      <h1>Welcome to your profile</h1>
      <% @games.each do |game| %>
        <p><%= link_to game.name, game_path(game) %></p>
      <% end %>
    </div>
  </div>
</div>
