.banner {
  background-size: cover;
  background-position: center;
  height: 500px;
  background-image: url("Banner-photo.jpeg");
  margin-bottom: 20px;
}

.banner h1 {
  padding-top: 100px;
  padding-left: 20px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #a0a0a0;
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  padding-left: 20px;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #a0a0a0;
}
